<div class="card">
    <div class="card-content" style="border: 2px solid #3b7aa2; width: 100%; max-width: 650px; display: flex; flex-direction: column;">
        <div class="header">
            <img class="picture" alt="Card"  />
        </div>
        <div class="name">
            <h1>&lt; Erkam Yaman /&gt;</h1>
            <p>COMPUTER ENGINEER</p>
        </div>
        <div class="links">
            <a target="_blank" href="https://www.linkedin.com/in/erkamyaman35/">
                <i class="pi pi-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/yamanerkam">
                <i class="pi pi-github"></i>
            </a>
            <a target="_blank" href="mailto:erkamyaman35@gmail.com">
                <i class="pi pi-envelope"></i>
            </a>
            <a target="_blank" href="https://twitter.com">
                <i class="pi pi-twitter"></i>
            </a>
        </div>
        <div class="last-paragraph">
            <p>
                I'm always happy to collaborate on new projects and explore innovative solutions. If you're looking for a dedicated software developer to bring your ideas to life, let's arrange a call. Let's discuss how
                <span class="blue">we can work together to achieve your goals</span>.
            </p>
        </div>
        <div class="button-wrapper">
            <button>
                <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.linkedin.com/in/erkamyaman35/">> DM me on LinkedIn</a>
            </button>
        </div>
    </div>
</div>