<div class='navbar'>

    <div class='main-part'>
        <h1>KAM</h1>
        <div class="pages">

            <a routerLink="/">
                Home
            </a>


            <a routerLink="/about">
                About
            </a>

            <a routerLink="/projects">
                Projects
            </a>

            <a target="_blank" href="https://github.com/yamanerkam/useful-links">
                Useful Links
            </a>

            <a routerLink="/contact-me">
                Contact Me
            </a>

        </div>
    </div>


    <i class="btn pi pi-moon" style="color: #2d5f87; font-size: 1.5rem;"></i>


</div>