.navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center !important;
}

.dropdown-icon {
    display: none;
}

.main-part {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    font-size: 1.75em;
    font-weight: 900;
    color: #3b7aa2;
}

.pages {
    gap: 30px;
    display: flex;
    margin-right: 20px;
}

.pages a {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #424655;
}

.pages a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #3b7aa2;
    bottom: -5px;
    left: 0px;
    transition: width 0.3s ease-in-out;
}

.pages a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .main-part {
        display: none;
    }

    .dropdown-icon {
        display: block;
        font-size: 1.5em;
        cursor: pointer;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
        text-align: center;
        background-color: #f0f0f0;
    }

    .night {
        display: none;
    }
}

@media (max-width: 480px) {

    .navbar {
        margin: 0;
        padding: 0;
    }

    .night {
        display: none;
    }

    .main-part {
        display: none;
    }

    .dropdown-icon {
        display: block;
        font-size: 1.25em;
    }
}