.navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center !important;
    display: flex;
}


.main-part {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.navbar h1 {
    font-size: 1.75em;
    font-weight: 900;
    color: #3b7aa2;
}


.pages {
    gap: 30px;
    display: flex;
    margin-right: 20px;

}

.pages a {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #424655;
}

.pages a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #3b7aa2;
    bottom: -5px;
    left: 0px;
    transition: width 0.3s ease-in-out;
}

.pages a:hover::after {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


@media (max-width: 768px) {
    .navbar {
        /* Decrease font size */
        padding-top: 10px;
        /* Adjust padding */
        padding-bottom: 5px;
        /* Adjust padding */
    }

    .navbar h1 {
        font-size: 1.5em;
        /* Decrease font size */
    }

    .pages {
        margin-right: 10px;
        gap: 20px;
    }


}

@media (max-width: 480px) {
    .navbar {
        font-size: 1em;
        /* Further decrease font size */
        padding-top: 5px;
        /* Further adjust padding */
        padding-bottom: 2px;
        /* Further adjust padding */
    }

    .navbar h1 {
        font-size: 1.25em;
        /* Further decrease font size */
    }

    .pages {
        gap: 20px;
        margin-right: 5px;
        /* Further adjust margin */
    }

}

.btn {
    padding: 0;
    margin-top: -12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



.btn:active {
    transform: scale(1);
}

@media (max-width: 768px) {
    .btn {
        margin-top: 0;
        font-size: 0.9em;
        /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .btn {
        margin-top: 0;
        font-size: 0.8em;
        /* Further adjust font size for smaller screens */
    }
}