<div class="about-container">
    <div class="intro">
        <img class="photo1" [src]="photo1" alt="Fun image 1">

        <h1>Hey 👋, I'm <span class="highlight">Kam</span></h1>
        <p>I'm currently a computer engineer student at <a href="https://www.yalova.edu.tr/" target="_blank">University
                of Yalova</a> and
            interning as a Frontend Developer at <a href="https://www.kolayrandevu.com/" target="_blank">Kolay
                Randevu</a>, where I'm deepening my
            Angular skills. </p>


        <p>
            I am exploring web development, I started with React.js, Node.js, and Mern Stack apps. After
            meeting with Angular, I cannot see how I can leave TypeScript. I am enjoying my journey with Angular.
            Basically I am in love with Frontend development.
        </p>
        <p>And at the same time I am into backend. I have worked on Node.js. And I would love to explore it more and
            become a FullStack developer.</p>
        <p>This
            is my journey! And You are welcome to it!</p>
        <p>
            😏 Don’t forget to get some Sarcasm in your life 😏
        </p>
    </div>
    <img class="gif1" [src]="gif1" alt="Fun image 2">

    <div class="quick-facts">
        <h2>⚡ A Few Quick Facts</h2>
        <ul>
            <li><span>🛠️</span> I'm currently working on <a
                    href="https://github.com/yamanerkam/kam-folio-angular-portfolio-webapp" target="_blank"> My
                    portfolio page </a></li>
            <li><span>📖</span> Learning about <strong class="angular"> Angular</strong>, and a bit of
                <strong class="ts">TypeScript</strong>.
            </li>
            <li><span>👨‍💻</span> Most of my projects are available on <a href="https://github.com/yamanerkam"
                    target="_blank">Github</a>.</li>
            <li><span>💬</span> Ping me about <strong> <span class="angular">Angular,</span> <span
                        class="react">React</span> </strong>and
                Web Dev
                stuff.</li>
            <li><span>📄</span> Check out my <a href="#" target="_blank">resume</a>.</li>
            <li><span>🎉</span> Fun Fact: I am a son of Vincent van Gogh.</li>
        </ul>
    </div>


    <div class="tools">
        <h2>🚀 Some Techs I Use</h2>
        <div class="icons">
            <img class="icon"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                alt="">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angular/angular-original.svg"
                alt="" class="icon">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
                alt="" class="icon">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                alt="" class="icon">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg"
                alt="" class="icon">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                alt="" class="icon">
            <br> <br>
            <img src="https://camo.githubusercontent.com/377be4b015c466702c65a16fdb839342f2a34699e7944bdd20d97ad42b3e4d21/68747470733a2f2f696f6e69632e696f2f5f6e6578742f696d6167653f75726c3d6874747073253341253246253246696d616765732e707269736d69632e696f253246696f6e69636672616d65776f726b636f6d25324636366366646265662d653539642d343633612d386532342d3132636232333365396439375f696f6e69632532426c6f676f253242626c75652e706e6726773d31323826713d3735"
                alt="" class="icon">


            <!-- <img src="" alt="" class="icon"> -->

        </div>

    </div>



</div>