.hero-section {
    background-color: #ffffff;
    color: #424655;
    padding: 100px 20px;
    text-align: left;
}


.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #424655;

}

.hero-content span {
    font-size: 3rem;
    font-weight: 700;
    color: #a3a3a3;
    margin-bottom: 20px;
}

.typing {
    display: inline-block;
    vertical-align: baseline;
    color: #3b7aa2;
    font-size: 3rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #6a7083;
}

a {
    border: 2px solid #3b7aa2;
    color: #3b7aa2;
    background-color: transparent;
    padding: 15px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: color 0.3s ease;
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 83%;
    left: 20px;
    height: 3px;
    background-color: #3b7aa2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

a:hover::after {
    transform: scaleX(1);
}