<div class="hero-section">
    <div class="hero-content">
        <h1>Engineering the digital world from end to end.</h1>
        <h2>Erkam Yaman, <span class="highlight">Your Specialty</span></h2>
        <p>I am a developer with X years of experience in building software. I leverage my fluency in
            [languages/technologies] and coding skills to craft accessible, scalable, and high-performance applications.
        </p>
        <a href="/projects" class="btn-primary">> Check Projects</a>
    </div>
</div>