.card {
    margin-left: -5%;
    width: 110%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}



.card-reverse {
    grid-template-columns: 40% 60%;
}

.image-section {
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content.left {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


.card-content.right {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.card-title {
    color: #3b7ba3;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.description.left {
    font-size: 1rem;
    color: #a3a3a3;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: end;
}

.description.right {
    font-size: 1rem;
    color: #a3a3a3;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: start;
}

.tags {
    color: #A3973B;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: auto;

}

.icons i {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;

}

.icons i:hover {
    color: #a3a3a3;
}

a {
    color: #3b7ba3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card-reverse {
        grid-template-columns: 1fr;
    }
}