<div *ngIf="leftRight === 'left'; then leftTemplate else rightTemplate"></div>

<ng-template #leftTemplate>
  <div class="card">
    <div class="image-section">
      <img src="../../../assets/ss.png">
    </div>
    <div class="card-content left">
      <h3 class="card-title">{{title}}</h3>
      <p class="description left">
        {{description}}
      </p>
      <p class="tags">{{tags}}</p>
      <div class="icons">
        <a target="_blank" [href]="githubLink"> <i class="pi pi-github"></i></a>
        <a [href]="liveLink" target="_blank"><i class="pi pi-external-link"></i></a>      
      </div>
    </div>
  </div>
</ng-template>

<ng-template #rightTemplate>

  <div class="card card-reverse">
    <div class="card-content right">
      <h3 class="card-title">{{title}}</h3>
      <p class="description right">
        {{description}}
      </p>
      <p class="tags">{{tags}}</p>
      <div class="icons">
        <a target="_blank" [href]="githubLink"> <i class="pi pi-github"></i></a>       
        <a [href]="liveLink" target="_blank"><i class="pi pi-external-link"></i></a>      
      </div>
    </div>
    <div class="image-section">
      <img src="../../../assets/ss.png" alt="Spotify Profile">
    </div>
  </div>

</ng-template>